@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #7356da;
    --white: #fff;
    --black: #000;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --default-layout-header-height: 60px;
    --body-background-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizespeed;
    background: var(--body-background-color);
    color: #fff;
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: transparent;
}

a[href] {
    text-decoration: none;
}
