.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    margin-left: 232px;
}
