.search {
    --background-search: #2f2f2f;
    --border-search: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-color: #484848;
    --search-btn-width: 52px;

    position: relative;
    background: var(--background-search);
    width: 500px;
    height: var(--search-height);
    border-radius: var(--border-search);
    padding-left: 16px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
    input {
        flex: 1;
        height: 100%;
        color: var(--white);
        font-size: 1.6rem;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--white);
    }
    &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--search-color);
        top: var(--search-top-spacer);
        right: var(--search-btn-width);
    }
    &:focus-within {
        border-color: var(--search-color);
    }
}

.clear-btn {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    font-size: 1.6rem;
    color: var(--search-color);
    &:hover {
        cursor: pointer;
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    font-size: 1.6rem;
    color: var(--search-color);
    background: var(--background-search);
    border-top-right-radius: var(--border-search);
    border-bottom-right-radius: var(--border-search);
    &:hover {
        cursor: pointer;
        background: #2c2c2c;
    }
    &:active {
        background-color: #2e2e2e;
    }
}
