@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #7356da;
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    background: #121212;
    color: #fff;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: transparent;
}

a[href] {
    text-decoration: none;
}
